body {
  background-image:linear-gradient(90deg, lightgrey, grey, lightgrey, grey)
}

#container {
  min-height:0px;
}

header {
  background-color:#ED1D24;
  text-align:center;
  font-family: 'Bree Serif', serif;
  letter-spacing:-1px;
  color:white;
  letter-spacing:-8px;
  font-size:130px;
  padding:-35px;
  border:4px solid black;
}

nav a {
  text-decoration:none;
  color:white;
  padding:5px;
  margin:5px;
  padding-top:5px;
  font-size:20px;
}

nav ul {
  list-style:none;
  text-align:center;
  border:4px solid black;
  margin-top:-4px;
  padding:15px;
  background-color:black;
}

nav ul li {
  display:inline-flex;
}

#panther {
  font-family: 'Josefin Sans', sans-serif;
}

#antman {
  font-family: 'Bree Serif', serif;
  letter-spacing:-1px;
}

#spider {
  font-family: 'Teko', sans-serif;
}

#doctor {
  font-family: 'Cinzel Decorative', cursive;
}

#thor {
  font-family: 'Audiowide', cursive;
}

#guardians {
  font-family: 'Chakra Petch', sans-serif;
}

#captain {
  font-family: 'Khand', sans-serif;
}

#avengers {
  font-family: 'Fjalla One', sans-serif;
}

#ironman {
  font-family: 'Anton', sans-serif;
}

#hulk {
  font-family: 'Aldrich', sans-serif;
}

a:hover {
  color:gold;
}

footer a {
  text-decoration:none;
  color:white;
  border:1px solid white;
  padding:2px;
}

footer a:hover {
  color:gold;
  border:1px solid gold;
}

footer {
  background-color:grey;
  margin-top:-16px;
  border:4px solid black;
  border-top:4px solid black;
  padding-top:10px;
  padding-left:6px;
  padding-bottom:10px;
  font-family: 'Roboto Condensed', sans-serif;
}
